
 /****  
    font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Special Elite', cursive;
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Buda', cursive;
	font-family: 'Overlock SC', cursive;
	font-family: 'Lobster', cursive;
***/


/**Base Styles**/

* {
	box-sizing: border-box;
}

body {

	font: normal 100% 'Nanum Gothic Coding', monospace;
	font-size: 16px;
}

/***Navigation Bar Styles**/

.nav-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 5px 5px 10px;
	width: 100%;
}


}

.navbar-list {
}

nav ul li {
display: flex;
	justify-content: center;
	align-items: row;
list-style: none;
letter-spacing: .2em;
word-spacing: 2.5em;
text-transform: uppercase;
}

nav ul li a {
text-decoration: none;
color: #003b42;	
} 
/***End Navigation Bar Styles**/


/***HOME PAGE/GREETING styles**/

.greeting {
	display: flex;
	justify-content: center;
   align-items: center;
   flex-wrap: wrap;
	 color: #003b42;
	 background-image: url(../img/georgia-de-lotz-juQWcOiuuPE-unsplash.jpg);
	 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    overflow: auto;
	opacity: 0.5;
	 margin-top: 5%;
	 margin-bottom: 5%;
}


/*
.greeting img {
	display: flex;
	justify-content: center;
	width: 260px;
	height: 390px;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 0px 65px -5px rgba(0,0,0,0.46);
	border: 10px white solid;
}  */

.greeting h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	overflow: auto;
	max-width: 90%;
}
#opener {
	font-size: 1.75em;
	color: #003b42;
	font: normal'Nanum Gothic Coding', monospace;
}

.greeting h3 {
	font-family: 'Lobster', cursive;
	font-size: 1.4em;
	color: #003b42;
}

.greeting p {
	display: flex;
	justify-content: space-around;
   align-items: center;
   font-size: 1.25em;
	width: 85%;
	line-height: 1.25em;
	padding: 5px 25px 5px 25px;
	color: #003b42;
	font-family: 'Open Sans', sans-serif;
	
}


/***HOME PAGE/CONTACT styles**/

.contact {
	display: flex;
	justify-content: center;
	width: 100%; /* 960px / 1100px */	
	background-color: #025058;
}

.contact a {
	padding: 20px; 
}


/***FOOTER Styles**/

footer {
	display: flex;
	justify-content: center;
	background-color:#83a9b2;
}

/***PORTFOLIO styles**/

.portfolio  {
	display: flex;
	justify-content: center;
   align-items: center;
   flex-wrap: wrap;
	 color: #003b42;
	 margin-top: 5%;
	 margin-bottom: 5%;
	 width: 100%;
}

figure img {
	  border: 12px solid #ffffff;
	  box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.46);
	  width: 260px;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 0px 65px -5px rgba(0,0,0,0.46);
	border: 10px white solid;
	margin-top: 1.5em;
}

.portfolio h3 {
	font-size: 1.3em;
	width: 85%;
	padding: 5px 25px 5px 25px;
	text-decoration: underline;
	text-align: center;
}

.sample h4 {
	justify-content: center;
	font-size: 1.1em;
	width: 85%;
	padding: 5px 25px 5px 25px;
	margin-bottom: 0;
	text-transform: uppercase;
	font: normal'Nanum Gothic Coding', monospace;
}

figcaption {
	display: flex;
	justify-content: space-around;
   align-items: center;
   font-size: 1.1em;
	width: 85%;
	line-height: 1.25em;
	padding: 5px 25px 5px 25px;
	color: #003b42;
	font-family: 'Open Sans', sans-serif;
}

/***ABOUT styles**/

.about {
	display: flex;
	justify-content: center;
   align-items: center;
   flex-wrap: wrap;
	 color: #003b42;
	 margin-top: 5%;
	 margin-bottom: 5%;
}

.about p {
	display: flex;
	justify-content: space-around;
   align-items: center;
   font-size: 1.25em;
		width: 85%;
	line-height: 1.25em;
	padding: 5px 25px 5px 25px;
	color: #003b42;
	font-family: 'Open Sans', sans-serif;
}

.about h3 {
	font-family: 'Lobster', cursive;
	font-size: 1.2em;
}

#family-img {

	width: 260px;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 0px 65px -5px rgba(0,0,0,0.46);
	border: 10px white solid;
	margin-top: 1.5em;
}

/* Media queries for Mobile */
/*@media (min-width: 489px)*/

@media only screen and (min-width: 768px) {
 .navbar-items,
  .navbar {
	align-items: baseline;
  }
	
.navbar-logo {
	font-family: 'Lobster', cursive;
	font-size: 1.7em;
	color: #003b42;
	width: 30%
}
/* 
  .navbar-logo {
	  display: none;
  } */
	
#opener {
	font-size: 1.5em;
}
}

@media only screen and (min-width: 1200px) {

}