/*****font-family: 'Roboto', sans-serif*****/

body {
	background-color: #e0e9dd;
	font-family: 'Roboto', sans-serif;
	max-width: 1200px; 
	margin: 0 auto; 
}
p {
	padding: 0px 30px; 
	line-height: 21px; 
	font-size: 14px;
}

h1 {
	font-size: 30px; 
	text-align: left; 
	width: auto; 
	float: left; 
	padding: 15px 0;
}

h3 {
	font-size: 18px; 
	text-align: center; 
	padding: 15px;
}

h4 {
	font-size: 12px;
}	
/*****Header*****/

header {
	height: 110px;
	width: 100%;

	border-bottom:3px solid #77a466;
	background-color: green;
}
header h1 {
	color: #77a466;
	text-transform: uppercase;
	font size: 30px;
	/*float:left*/
	padding-left: 15px;
} 
header span {
	color: black;
}

/*****Nav bar*****/

header nav {
	float: right;
	padding: 45px 0px;
}
header nav ul li {
	display: inline-block;
}
header nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size:14px;
	color:black;
	padding: 0 10px;
	background-color: green;
}

.menu {
	width: 400px;
	float: left;
	margin:0 auto;
}
.reviews {
	width: 400px;
	float: left;
	margin:0 auto;
}
.address {
	width: 400px;
	float:left;
	margin:0 auto;
}

/*****Welcome message*****/

.main {
	width:100%;
	margin:0 auto;
} 
.bottom-section {
	height: 200px;
	margin:0 auto;
	clear:both;
	background-color: green;
}
.welcome h2 {
	text-transform: uppercase;
	color: #77a466;
	font-size: 24px;
	margin-left:15px;
}
.welcome p {
	color: black;
	line-height: 30px;
}
.main-image {
	width:100%;
	border-bottom:3px solid #77a466;
	height:auto;
}

/*-------------Menu, Reviews and Address--------*/


.menu h4{
	font-size: 15px;
	text-transform: uppercase;
	color:#77a466;
	margin-left: 35px;
}
.menu ul {
	list-style: none;
	line-height: 25px;
	font-size: 15px;

}
.reviews h4 {
	font-size: 15px;
	text-transform: uppercase;
	color:#77a466;
	margin-left: 25px;


}
.reviews p {
	line-height: 21px;
	
}
.address h4 {
	font-size: 15px;
	text-transform: uppercase;
	color:#77a466;
	margin-left: 25px;

}
.address p {
	line-height: 24px;
}


/*****Footer*****/

footer span {
	color:#77a466;
	text-transform: lowercase;
	font-size: 14px	;
}
footer {
	text-transform: uppercase;
	text-align: center;
	clear: both;
	border-top: 3px solid #eee;
	margin: 0 auto;
	height: 50px;
}






